# version: "3.8"

services:
  front-end:
    image: ashokry32/nginlb:latest
    container_name: fend
    ports:
      - "8000:80"
    networks:
      - front-back
    depends_on:
      - webcinema

  webcinema:
    image: ashokry32/webcinema:latest
    #container_name: webcinema
    deploy:
      replicas: 2
    networks:
      - front-back
      - back-db
    depends_on:
      - db

  db:
    image: ashokry32/cinemarates:latest
    container_name: db
    volumes:
      - ./db-data:/var/lib/mysql
    networks:
      - back-db

networks:
  front-back:
    name: front-back
  back-db:
    name: back-db
